<!-- about.html-->

{% extends "base.html" %}

{% set active_page = "about" %}
{% block title %}About{% endblock %}

{% block body %}
<div class="container">
  <!-- Main -->
  <div id="main-wrapper" style="margin-top: 3em;">
    <div class="container">
      <div class="row gtr-200">
        <div class="col-4 col-12-medium">
          <div id="sidebar">

            <!-- Sidebar -->
              <section style="height: 505px; overflow: scroll;">
                <a class="twitter-timeline" href="https://twitter.com/ysjboatclub?ref_src=twsrc%5Etfw">Tweets by YSJBC</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </section>

          </div>
        </div>
        <div class="col-8 col-12-medium imp-medium">
          <div id="content" style="margin-right: 1em;">

            <!-- Content -->
              <article>

                <h2>About Us</h2>

                <p>Established in 1852, York St John Boat CLub is one of the University's oldest Sports Club, who pride ourselves in being an inclusive,
                  mixed gender Club offering students at York St John University the opportunity to row. We are fortunate enough to have our own Boat House,
                  with training facilities, only a 5 minute walk from the main university campus.
                </p>

                <p>
                  The club has qualified coaches and prides itself on providing an inclusive, yet competitive environment, with the chance to compete in regattas,
                  BUCS events and many more exciting opportunities. Not only do we offer all members regular training and fitness sessions,
                  we have social events which are not worth missing and a great way to meet new people and enhance your university experience.
                </p>

                <p>
                  We are open to all levels of ability, whether you are looking for a new hobby or to compete on a national stage, the Boat Club is for you!
                </p>

              </article>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}