<!-- about.html-->

{% extends "base.html" %}

{% set active_page = "blog" %}
{% block title %}Blog{% endblock %}

{% block body %}

  {% if blog is defined %}
    <a href="/blog" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">{{ blog.body }}</p>
      </div>
    </div>
  {% else %}
  
    <!-- All blogs -->
    <div id="features-wrapper">
      <div class="container">

        {% from "components/blog_rows.html" import create_blog_rows with context %}
        {{ create_blog_rows(blogs) }}

      </div>
    </div>
  {% endif %}

{% endblock %}