<!-- about.html-->

{% extends "base.html" %}

{% set active_page = "blog" %}
{% block title %}Blog{% endblock %}

{% block body %}

  {% if blog is defined %}
    <a href="/blog" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">{{ blog.body }}</p>
      </div>
    </div>
  {% else %}
  {% from "components/blog_tile.html" import create_blog_tile with context %}

  <div class="header-wrapper">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">The Blog Page</h1>
          <p class="card-text">You can learn more about my website here.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- All blogs -->
    <div id="features-wrapper">
      <div class="container">

        {% for blog_row in blogs | batch(3, '&nbsp;') %}
        <div class="row">
          {% for blog in blog_row %}
            {{ create_blog_tile(blog) }}
          {% endfor %}
        </div>
        {% endfor %}

      </div>
    </div>
  {% endif %}

{% endblock %}