<!-- about.html-->

{% extends "base.html" %}

{% set active_page = "contact" %}
{% block title %}Contact{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/contact.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">The Contact Page</h1>
      <p class="card-text">You can learn more about my website here.</p>
    </div>
  </div>

  <div class="card">
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA967PQLh5z1IarqMsoJFAhn5CvGJWcSjo&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </div>
</div>

<script src="{{ url_for('static', filename='assets/js/gmaps.js') }}"></script>
{% endblock %}