#map {
    height: 400px;
    width: 100%;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    display: inline;
    margin-top: 1em;
}

    ul.icons li {
        display: inline-block;
        padding: 0.75em 0.5em;
    }

        ul.icons li a {
            text-decoration: none;
            position: relative;
            display: block;
            width: 3.75em;
            height: 3.75em;
            border-radius: 100%;
            border: solid 1px #c8cccf;
            line-height: 3.75em;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
        }

            ul.icons li a:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            ul.icons li a:before {
                color: #ffffff;
                text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
            }

            ul.icons li a:hover:before {
                text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
            }

            ul.icons li a:before {
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                font-size: 1.85rem;
                line-height: inherit;
                text-align: center;
                text-indent: 0;
            }

            ul.icons li a:hover {
                border-color: #ff7496;
            }

                ul.icons li a i {
                    color: #ffffff;
                    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
                    margin-top: .4em;
                }

