nav {
    margin-bottom: 3em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
}

.footer {
    margin-top: 3em;
}

body {
    background-color: rgb(240, 240, 240);
}

.card {
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.2);
}