nav {
    margin-bottom: 3em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
}

.footer {
    margin-top: 3em;
}

body {
    background-color: rgb(240, 240, 240);
}

.card {
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.2);
}

#nav {
    margin-left: 5em;
}

#nav a {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0em 1em 0em 1em;
}

#nav a:hover {
    background-color: lightgray;
}

#nav a.current {
    background: #444;
    color: #fff;
}