{% macro create_timetable(events) %}

{% set days = [
    'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'
] -%}

<div class="card">
  <div class="timetable">

    <div class="week-names">
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div>friday</div>
      <div class="weekend">saturday</div>
      <div class="weekend">sunday</div>
    </div>

    <div class="time-interval">
      <div>8:00 - 10:00</div>
      <div>10:00 - 12:00</div>
      <div>12:00 - 14:00</div>
      <div>14:00 - 16:00</div>
      <div>16:00 - 18:00</div>
      <div>18:00 - 20:00</div>
    </div>

    <div class="content">
      
      <div>
        <div class="accent-orange-gradient"><p>test</p></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-green-gradient"></div>
      </div>
      <div class="weekend"></div>
      <div class="weekend"></div>

      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-cyan-gradient"></div>
      </div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>

      <div>
        <div class="accent-pink-gradient"></div>
      </div>
      <div></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>

      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>

      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>

      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>

    </div>
  </div>
</div>

<div class="card">
  {% for day in days %}
    <li>
      {{ day }}
      <ul>
        {% for event in events[day] %}
          <li>
            <em>{{ event.title }}</em>
            <em>{{ event.event_start }}</em>
            <em>{{ event.event_end }}</em>
            <em>{{ event.event_type }}</em>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>

{% endmacro %}