{% macro create_timetable(events) %}

{% set days = [
  'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'
] -%}

{% for day in days %}
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ day }}</h1>
      {% for event in events[day] %}
        <div class="card event {{ event.event_type }}">
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">
              {{ event.event_start }}
              {{ event.event_end }}
            </p>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endmacro %}