appdirs==1.4.4
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pbr==5.5.1
six==1.15.0
stevedore==3.3.0
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
