{% macro create_blog_tile(blog) %}

<style>
  .blog-tile-btn {
    max-width: 80%;
    text-align: center;
  }
</style>

<div class="col-4 col-12-medium">
    <!-- Box -->
      <section class="box feature">
        <a href="blog/{{ blog.id }}" class="image featured"><img src="{{ get_image_ref(blog.id) }}" alt="" /></a>
        <div class="inner">
          <header>
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.updated_at }}</p>
          </header>
          <p>{{ blog.desc }}</p>
          <div class="row">
            <a class="button col-4 blog-tile-btn btn-success">View</a>
            <a class="button col-4 blog-tile-btn">Edit</a>
            <a class="button col-4 blog-tile-btn btn-danger">Delete</a>
          </div>
        </div>
      </section>

  </div>

{% endmacro %}

{% macro get_image_ref(id) %}
../static/assets/images/blog_thumbnails/pic{{ id }}.jpg
{% endmacro %}

