<!-- form.html-->

{% extends "base.html" %}

{% set admin_nav = True %}
{% set active_page = "blog" %}
{% block title %}Home{% endblock %}

{% block body %}

<div id="features-wrapper">
  <div class="container">

    {% if action == "ViewAll" %}

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Blog Management</h1>
          <a href="/admin/blog/create"><button type="button" class="btn btn-primary">Create Blog</button></a>
        </div>
      </div>

      {% from "components/blog/blog_rows.html" import create_blog_rows with context %}
      {{ create_blog_rows(blogs) }}
    {% endif %}

    {% if action == "ViewOne" %}
      {% from "components/blog/blog_view.html" import create_blog_view with context %}
      {{ create_blog_view(blog) }}
    {% endif %}

    {% if action == "Create" %}
      {% from "components/blog/blog_form.html" import create_blog_form with context %}
      {{ create_blog_form('') }}
    {% endif %}

    {% if action == "Edit" %}
      {% from "components/blog/blog_form.html" import create_blog_form with context %}
      {{ create_blog_form(blog) }}
    {% endif %}

    </div>
  </div>
{% endblock %}

