<!-- form.html-->

{% extends "base.html" %}

{% set active_page = "insert" %}
{% block title %}Login{% endblock %}

{% block body %}

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Admin Login</h1>

    {% if msg is defined %}
      <h6 class="card-subtitle mb-2 text-danger">{{ msg }}</h6>
    {% endif %}

   <form action="/login" method = "POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control"  name="email" id="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Don't have an account? Click <a href="/admin/register">here</a> to register!</p>
  </form>
  </div>
</div>
{% endblock %}

