<!-- form.html-->

{% extends "base.html" %}

{% set admin_nav = True %}
{% set active_page = "users" %}
{% block title %}Users{% endblock %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
        <h1 class="card-title">User Manager</h1>
        <p class="card-text">You can learn more about my website here.</p>
        {{ user_id }}
        {{ users }}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h1 class="card-title">Approved Accounts</h1>
        {% for user in approved_users %}
        <div class="row">
          <p class="card-text col">{{ user.email }}</p>
          <div class="col">
            <button type="button" class="btn btn-warning">Unapprove User</button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <h1 class="card-title">Guest Accounts</h1>
        {% for user in guest_users %}
          <div class="row">
            <p class="card-text col">{{ user.email }}</p>
            <div class="col">
              <form action="/admin/users/delete" method="POST" class="action-form justify-content-center">
                <button type="button" class="btn btn-success">Approve User</button>
                <input type="text" style="display: none;"" name="delete_id" id="delete_id" value="{{ user.id }}">
                <a class="col-4"><button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete User</button></a>
              </form>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

